In [1]:

import logging

logging.basicConfig(format='\033[93m%(asctime)s %(levelname)s %(name)s:\033[0m %(message)s', level=logging.INFO, datefmt='%I:%M:%S')
import warnings
import pandas as pd

warnings.simplefilter(action='ignore', category=pd.errors.PerformanceWarning)
warnings.simplefilter(action="ignore", category=pd.errors.SettingWithCopyWarning)

In [2]:
from src.quotes import QuoteSource
from src.cache.filecache import FileCache
from src.client import QuoteSourceClientFinamCSV, TimeFrame

In [3]:
fc = FileCache("./cache/")
qsc = QuoteSourceClientFinamCSV("./quotes/")
qsc.add_file("EURUSD.Minute1.csv", "EURUSD", TimeFrame.m1)

12:11:47 INFO QuoteSourceClientCSV: File ./quotes/EURUSD.Minute1.csv to stock EURUSD timeframe Minute1 added to client

In [4]:
qs = QuoteSource(fc.quote, qsc)

In [5]:
qs.get("EURUSD", TimeFrame.m1)

                        open     high      low    close  volume
start_date_time
2010-01-01 00:00:00  1.43310  1.43370  1.43270  1.43320   0.000
2010-01-01 00:01:00  1.43330  1.43350  1.43290  1.43310   0.000
2010-01-01 00:02:00  1.43310  1.43340  1.43280  1.43290   0.000
2010-01-01 00:03:00  1.43320  1.43330  1.43290  1.43310   0.000
2010-01-01 00:04:00  1.43310  1.43320  1.43290  1.43320   0.000
...                      ...      ...      ...      ...     ...
2022-11-30 23:56:00  1.04142  1.04146  1.04090  1.04114   3.931
2022-11-30 23:57:00  1.04111  1.04116  1.04066  1.04091   4.344
2022-11-30 23:58:00  1.04092  1.04107  1.04050  1.04079   5.040
2022-11-30 23:59:00  1.04080  1.04097  1.04032  1.04069   5.407
2022-12-01 00:00:00  1.04072  1.04088  1.04015  1.04052   7.317

[4805556 rows x 5 columns]

In [6]:
d_q_df = qs.get("EURUSD", TimeFrame.D,step_timeframe=TimeFrame.m1)
d_q_df

,aggregated_start_date_time,open,low,high,close,volume,isLast
start_date_time,,,,,,,
2010-01-01 00:00:00,2010-01-01,1.43310,1.43270,1.43370,1.43320,0.000,0
2010-01-01 00:01:00,2010-01-01,1.43310,1.43270,1.43370,1.43310,0.000,0
2010-01-01 00:02:00,2010-01-01,1.43310,1.43270,1.43370,1.43290,0.000,0
2010-01-01 00:03:00,2010-01-01,1.43310,1.43270,1.43370,1.43310,0.000,0
2010-01-01 00:04:00,2010-01-01,1.43310,1.43270,1.43370,1.43320,0.000,0
...,...,...,...,...,...,...,...
2022-11-30 23:56:00,2022-11-30,1.03253,1.02880,1.04288,1.04114,210538.841,0
2022-11-30 23:57:00,2022-11-30,1.03253,1.02880,1.04288,1.04091,210543.185,0
2022-11-30 23:58:00,2022-11-30,1.03253,1.02880,1.04288,1.04079,210548.225,0
2022-11-30 23:59:00,2022-11-30,1.03253,1.02880,1.04288,1.04069,210553.632,1
2022-12-01 00:00:00,2022-12-01,1.04072,1.04015,1.04088,1.04052,7.317,1

In [7]:
d_q_df.index

DatetimeIndex(['2010-01-01 00:00:00', '2010-01-01 00:01:00',
               '2010-01-01 00:02:00', '2010-01-01 00:03:00',
               '2010-01-01 00:04:00', '2010-01-01 00:05:00',
               '2010-01-01 00:06:00', '2010-01-01 00:07:00',
               '2010-01-01 00:08:00', '2010-01-01 00:09:00',
               ...
               '2022-11-30 23:51:00', '2022-11-30 23:52:00',
               '2022-11-30 23:53:00', '2022-11-30 23:54:00',
               '2022-11-30 23:55:00', '2022-11-30 23:56:00',
               '2022-11-30 23:57:00', '2022-11-30 23:58:00',
               '2022-11-30 23:59:00', '2022-12-01 00:00:00'],
              dtype='datetime64[ns]', name='start_date_time', length=4805556, freq=None)

In [8]:
d_q_df["aggregated_start_date_time"]

start_date_time
2010-01-01 00:00:00   2010-01-01
2010-01-01 00:01:00   2010-01-01
2010-01-01 00:02:00   2010-01-01
2010-01-01 00:03:00   2010-01-01
2010-01-01 00:04:00   2010-01-01
                         ...
2022-11-30 23:56:00   2022-11-30
2022-11-30 23:57:00   2022-11-30
2022-11-30 23:58:00   2022-11-30
2022-11-30 23:59:00   2022-11-30
2022-12-01 00:00:00   2022-12-01
Name: aggregated_start_date_time, Length: 4805556, dtype: datetime64[ns]