In [1]:
from src.quotes import QuoteSource
from src.cache.filecache import FileCache
from src.cache import AbsCacheQuote

In [ ]:
FileCache()

In [ ]:
imqc = InMemoryQuoteCache()

In [ ]:
QuoteSource(imqc,)

In [7]:
data_dict = {datetime(2020,1,2,1,1,1):[15,20,10,25,150],datetime(2020,1,1,1,1,1):[10,50,5,15,100]}

In [9]:
df = pd.DataFrame.from_dict(data_dict, orient='index', columns=[col.OPEN, col.HIGH, col.LOW,col.CLOSE,col.VOLUME])
df

                     open  high  low  close  volume
2020-01-02 01:01:01    15    20   10     25     150
2020-01-01 01:01:01    10    50    5     15     100

In [11]:
df.sort_index()

                     open  high  low  close  volume
2020-01-01 01:01:01    10    50    5     15     100
2020-01-02 01:01:01    15    20   10     25     150

In [2]:
df = pd.DataFrame.from_dict({datetime(2020,1,1,1,1,1):[10,20,5,15,100],datetime(2020,1,2,1,1,1):[15,25,10,20,150]}, orient='index', columns=[col.OPEN,col.HIGH,col.LOW,col.CLOSE,col.VOLUME])
df

                     open  high  low  close  volume
2020-01-01 01:01:01    10    20    5     15     100
2020-01-02 01:01:01    15    25   10     20     150

In [3]:
df.reset_index().

                index  open  high  low  close  volume
0 2020-01-01 01:01:01    10    20    5     15     100
1 2020-01-02 01:01:01    15    25   10     20     150