In [1]:
from src.client.quote_source_client_csv import QuoteSourceClientFinamCSV, TimeFrame,date, pd

In [2]:
qsc = QuoteSourceClientFinamCSV("test/client")
qsc.add_file("test.MINUTE1.csv", "EURUSD", TimeFrame.m1)

In [5]:
df = qsc.get("EURUSD", TimeFrame.m1, date(2021,4,2), date(2021,4,4)).to_df()
df

                        open     high      low    close  volume
start_date_time
2021-04-02 00:02:00  1.17290  1.17308  1.17280  1.17301    64.0
2021-04-02 00:03:00  1.17291  1.17307  1.17278  1.17301    67.0
2021-04-03 00:04:00  1.17283  1.17301  1.17278  1.17281    59.0
2021-04-03 00:05:00  1.17281  1.17290  1.17267  1.17285   125.0

In [7]:
import datetime
from_dt = datetime.datetime(2021,4,2,0,2)
untill_df = datetime.datetime(2021,4,3,0,5) - datetime.timedelta(0,0,1)
df.loc[from_dt:untill_df]

                        open     high      low    close  volume
start_date_time
2021-04-02 00:02:00  1.17290  1.17308  1.17280  1.17301    64.0
2021-04-02 00:03:00  1.17291  1.17307  1.17278  1.17301    67.0
2021-04-03 00:04:00  1.17283  1.17301  1.17278  1.17281    59.0