In [1]:
import os
import pandas as pd
from NNTrade.common import CLOSE, OPEN, HIGH, CLOSE, VOLUME,LOW, TimeFrame, INDEX

In [2]:
stock = "EURUSD"
file_path =  "./test/cache/test_data/test_quote_EURUSD.csv"

In [3]:
expect_df = pd.read_csv(file_path, sep=";",decimal=".", dtype={"<DATE>":str,"<TIME>":str})
expect_df[INDEX] = expect_df["<DATE>"]+expect_df["<TIME>"]
expect_df[INDEX] = expect_df[INDEX].astype(int)
expect_df = expect_df[expect_df.duplicated(subset=[INDEX], keep='last') != True]
expect_df = expect_df.set_index(INDEX)
expect_df = expect_df.rename(columns={"<CLOSE>":CLOSE, "<OPEN>":OPEN, "<HIGH>":HIGH, "<LOW>":LOW, "<VOL>":VOLUME})
expect_df = expect_df[[OPEN,HIGH, LOW, CLOSE,VOLUME]]
expect_df

                   open    high     low   close  volume
start_date_time
20100101000000   1.4331  1.4337  1.4327  1.4332       0
20100101000100   1.4333  1.4335  1.4329  1.4331       0
20100101000200   1.4331  1.4334  1.4328  1.4329       0
20100101000300   1.4332  1.4333  1.4329  1.4331       0
20100101000400   1.4331  1.4332  1.4329  1.4332       0
20100101000500   1.4332  1.4336  1.4330  1.4334       0
20100101000600   1.4336  1.4336  1.4332  1.4336       0
20100101000700   1.4335  1.4337  1.4332  1.4334       0
20100101000800   1.4333  1.4337  1.4332  1.4336       0
20100101000900   1.4333  1.4337  1.4333  1.4336       0
20100101001000   1.4333  1.4337  1.4333  1.4334       0
20100101001100   1.4333  1.4337  1.4333  1.4336       0
20100101001200   1.4334  1.4338  1.4332  1.4332       0
20100101001300   1.4333  1.4336  1.4331  1.4334       0
20100101001400   1.4332  1.4336  1.4331  1.4335       0
20100101001500   1.4335  1.4337  1.4334  1.4336       0
20100101001600   1.4335  1.4338  1.4334  1.4336       0
20100101001700   1.4338  1.4338  1.4334  1.4336       0
20100101001800   1.4337  1.4341  1.4333  1.4339       0
20100101001900   1.4339  1.4340  1.4334  1.4336       0
20100101002000   1.4337  1.4337  1.4332  1.4333       0
20100101002100   1.4334  1.4335  1.4331  1.4334       0
20100101002200   1.4333  1.4335  1.4331  1.4334       0
20100101002300   1.4333  1.4336  1.4332  1.4334       0
20100101002400   1.4333  1.4335  1.4332  1.4334       0
20100101002500   1.4334  1.4339  1.4332  1.4336       0
20100101002600   1.4335  1.4336  1.4333  1.4336       0
20100101002700   1.4335  1.4336  1.4332  1.4335       0
20100101002800   1.4333  1.4335  1.4331  1.4334       0
20100101002900   1.4334  1.4335  1.4332  1.4334       0
20100101003000   1.4331  1.4334  1.4330  1.4333       0
20100101003100   1.4332  1.4333  1.4332  1.4333       0
20100101003200   1.4331  1.4333  1.4329  1.4332       0

In [4]:
import pandas as pd
from NNTrade.common import CLOSE, OPEN, HIGH, CLOSE, VOLUME,LOW, TimeFrame, INDEX
from src.cache.filecache.file_cache_quote import FileCacheQuote
from src.client.quote_source_client_csv import QuoteSourceClientFinamCSV, StockQuoteContainer
import os
import shutil
from test.compare_df import compare_df

In [7]:
fc = FileCacheQuote("./test/cache/test_data/CacheQuote_TestCase")

In [8]:
qsc = QuoteSourceClientFinamCSV("test/cache/test_data")
qsc.add_file("test.MINUTE1.csv", "EURUSD", TimeFrame.m1)
expected_df = qsc.get("EURUSD", TimeFrame.m1).to_df()
expected_df

                        open     high      low    close  volume
start_date_time
2021-04-01 00:00:00  1.17295  1.17302  1.17270  1.17270    62.0
2021-04-01 00:01:00  1.17280  1.17306  1.17270  1.17290    78.0
2021-04-02 00:02:00  1.17290  1.17308  1.17280  1.17301    64.0
2021-04-02 00:03:00  1.17291  1.17307  1.17278  1.17301    67.0
2021-04-03 00:04:00  1.17283  1.17301  1.17278  1.17281    59.0
2021-04-03 00:05:00  1.17281  1.17290  1.17267  1.17285   125.0
2021-04-04 00:06:00  1.17282  1.17291  1.17275  1.17278   147.0

In [12]:
expected_df.index

DatetimeIndex(['2021-04-01 00:00:00', '2021-04-01 00:01:00',
               '2021-04-02 00:02:00', '2021-04-02 00:03:00',
               '2021-04-03 00:04:00', '2021-04-03 00:05:00',
               '2021-04-04 00:06:00'],
              dtype='datetime64[ns]', name='start_date_time', freq=None)

In [9]:
fc.save_stock_quotes("EURUSD", TimeFrame.m1, expected_df)

In [10]:
asserted_df =fc.load_stock_quotes("EURUSD", TimeFrame.m1)
asserted_df

                        open     high      low    close  volume
start_date_time
2021-04-01 00:00:00  1.17295  1.17302  1.17270  1.17270    62.0
2021-04-01 00:01:00  1.17280  1.17306  1.17270  1.17290    78.0
2021-04-02 00:02:00  1.17290  1.17308  1.17280  1.17301    64.0
2021-04-02 00:03:00  1.17291  1.17307  1.17278  1.17301    67.0
2021-04-03 00:04:00  1.17283  1.17301  1.17278  1.17281    59.0
2021-04-03 00:05:00  1.17281  1.17290  1.17267  1.17285   125.0
2021-04-04 00:06:00  1.17282  1.17291  1.17275  1.17278   147.0

In [11]:
asserted_df.index

Index(['2021-04-01 00:00:00', '2021-04-01 00:01:00', '2021-04-02 00:02:00',
       '2021-04-02 00:03:00', '2021-04-03 00:04:00', '2021-04-03 00:05:00',
       '2021-04-04 00:06:00'],
      dtype='object', name='start_date_time')

In [15]:
df = pd.read_csv("test/cache/test_data/CacheQuote_TestCase/EURUSD/Minute1/quote.csv", sep=";", decimal=",", index_col=0, header=[0])
df.index

Index(['2021-04-01 00:00:00', '2021-04-01 00:01:00', '2021-04-02 00:02:00',
       '2021-04-02 00:03:00', '2021-04-03 00:04:00', '2021-04-03 00:05:00',
       '2021-04-04 00:06:00'],
      dtype='object', name='start_date_time')

In [16]:
df.index = pd.to_datetime(df.index)

In [17]:
df.index

DatetimeIndex(['2021-04-01 00:00:00', '2021-04-01 00:01:00',
               '2021-04-02 00:02:00', '2021-04-02 00:03:00',
               '2021-04-03 00:04:00', '2021-04-03 00:05:00',
               '2021-04-04 00:06:00'],
              dtype='datetime64[ns]', name='start_date_time', freq=None)